<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //- SCSS
        link(rel="stylesheet", href="./main.scss")
        title Fetch Github Repos





    body
        .container

            .repos-cont
                .get-repos
                    input(placeholder="Username")
                    button Get Repos
                .show-repos: div


























        script(src="./main.js")